.whatGPT{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--color-footer);
    background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
}
.whatGPT-feature{
    display: flex;
}
.whatGPT-feature .gpt_features-contain_feature {
    margin: 0;
}
.whatGPT-feature .gpt_features-contain-txt {
    max-width: 700px;
}
.whatGPT-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    margin: 4rem 0 2rem;
}
.whatGPT-head h1{
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}
.whatGPT-head p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}
.whatGPT-contain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}
.whatGPT-contain .gpt_features-contain_feature{
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}
.whatGPT-contain .gpt_features-contain-txt{
    margin-top: 0.5rem;
}
@media screen and (max-width: 850px) {
    .whatGPT-head {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .whatGPT-head p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .whatGPT-feature .gpt_features-contain_feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .whatGPT-feature .gpt_features-contain-txt {
        margin-top: 0.5rem;
    }

    .whatGPT-head h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .whatGPT-contain .gpt_features-contain_feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}