.gpt_brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gpt_brand div{
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atlassian img{
    color: #686C75;
}